[build]
  command = "npm run build"
  publish = "out"

[build.environment]
  NODE_VERSION = "20"
  NEXT_PUBLIC_TON_CONNECT_MANIFEST_URL = "https://melektron.com/tonconnect-manifest.json"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[context.production.environment]
  SANITY_PROJECT_ID = "@sanity_project_id"
  SANITY_DATASET = "production"
  SANITY_API_TOKEN = "@sanity_api_token"

[context.deploy-preview.environment]
  SANITY_PROJECT_ID = "@sanity_project_id"
  SANITY_DATASET = "staging"

[[redirects]]
  from = "/donacije"
  to = "/donacije.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200